.logo {
  font-size: 1.2rem;
  font-weight: 800;
  /* text-shadow: 2px 2px 2px rgb(214, 214, 214); */
 };
/*
 .off-canvas-sidebar nav .navbar-collapse::before {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: block;
  content: "";
  z-index: 1;
} */

/* .nav-item:active a {
  background-color: grey !important;
  color:white !important
}
li[id="nav-item"] a {
  background-color: none !important;
  transition: background-color 2s ease !important;
}
li[id="nav-item"]:active a {
  background-color: grey !important;
  color:white !important;
}
li[id="nav-item"]:focus a {
  background-color: grey !important;
  color:white !important;
}
 */